.formrow{
    margin-bottom: 15px;
}

.selected-navigation-menu{ color: white !important; }

.lnkremove{ cursor: pointer; color: red; }

#tree ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#tree ul ul{display: none;}

#tree ul li{
    background-image: url('closed.gif');
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 20px;
    cursor: pointer;
}

#tree ul a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
ul#tree a:hover {
    text-decoration: underline;
}

.selected-category{
    font-weight: bold;
    color: red;
}
.non-selected-category{
    font-weight: normal;
    color: black;
}

#category_image{display: none;}

.msg{color: red;}